<div>
    <label for="name">login: </label>
    <input id="name" [(ngModel)]="login.name" placeholder="name">

    <br>

    <label for="username">username: </label>
    <input id="username" [(ngModel)]="login.username" placeholder="username">

    <br>

    <label for="password">password: </label>
    <input id="password" [(ngModel)]="login.password" placeholder="password">

    <br>

    <label for="email">email: </label>
    <input id="email" [(ngModel)]="login.email" placeholder="email">

    <br>

    <label for="role">role: </label>
    <input id="role" [(ngModel)]="login.role" placeholder="role">
    
    <br>

    <br>
    <br>
    
    <h3>
        seu _id é: {{login._id | lowercase}}<br>
        seu name é: {{login.name | lowercase}}<br>
        seu username é: {{login.username | lowercase}}<br>
        seu password é: {{login.password | lowercase}}<br>
        seu email é: {{login.email | lowercase}}<br>
        sua role é: {{login.role | lowercase}}<br>
    </h3>
</div>
